<div id="content-wrap">
	<h2>Nicholas <span>Michalski</span></h2>
	<h3>Software Engineer</h3>
	<p>I am a software engineering professional with a focus on new technologies that improve business processes.</p>
	<p>I strive to use my technical and interpersonal skills to achieve goals and beat out competitors.</p>
	<div id="action-buttons">
		<a href="https://github.com/nmichalski" id="github"></a>
		<a href="https://www.linkedin.com/in/nmichalski" id="linkedin"></a>
		<a href="mailto:nicholas.a.michalski@gmail.com" id="contact"></a>
	</div>
	<div id="tooltips">
		<img id="tt-github" src="<%= image_path('tooltip_github.png') %>"/>
		<img id="tt-linkedin" src="<%= image_path('tooltip_linkedin.png') %>"/>
		<img id="tt-contact" src="<%= image_path('tooltip_contact.png') %>"/>
	</div>
</div>

<div id="slider">
	<div id="slides">
		<ul class="bxslider" style="list-style: none outside none;padding:0px !important;">
			<li><img src="<%= image_path('enova/enova_thumb.png') %>"/></li>
			<li><img src="<%= image_path('tribune/tribune_thumb.png') %>"/></li>
		</ul>
	</div>
</div>